/* Style Settings */
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
:root {
    --bgColor:#2F4454;
    --accentColor: #376E6F;
    --font: 'Karla', sans-serif;
    color: #bbbbbb;
}

body{
    background-color: var(--bgColor);
}

#userPhoto{
    width: 110px;
    height: 110px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

#userName{
    color: #bbb;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}
.link, .footer {
    display: block;
    background-color: var(--accentColor);
    color: #bbbbbb;
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 20px;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    border: solid var(--accentColor) 2px;
}

.link:hover, .footer:hover {
    background-color: var(--bgColor);
    color: var(--accentColor);
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}
.footer {
    width: 300px;
    margin : 0px auto;
    padding: 10px;
    font-size: 18px;
}
